*{
    margin: 0%;
    padding: 0%;
   
 
}

body{
    height: 100%;
    background-color: rgb(252, 252, 119);
}

.navigation{
    background-color: #f5c800;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 2rem 1rem 2rem;


}

#choices{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    
}



.navigation img{
    height: 5rem;
}

#choices a{
    text-decoration: none;
    color: rgb(3, 76, 105);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    transition: transform .2s;
}

#choices a:hover{
    color: rgb(5, 133, 183);
    transform: scale(1.5);
}


.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 100dvh;
}

.content img{

    height:10rem;
    border-radius: 50%;
}

.content h1{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    color: rgb(3, 76, 105);
}

.content p{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    text-align: left;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5c800;
}

.footer p{
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    align-self: center;
}

.footer img{
    padding-left: 2rem;
    height: 5rem;
}

.bi-github{
    font-size: 3rem;
    color: rgb(3, 76, 105);
    transition: transform .2s;
}
.bi-facebook{
    font-size: 3rem;
    color: rgb(3, 76, 105);
    transition: transform .2s;
}
.bi-instagram{
    font-size: 3rem;
    color: rgb(3, 76, 105);
    transition: transform .2s;
}


.bi-instagram:hover{
    color: rgb(5, 133, 183);
    transform: scale(1.5);
}

.bi-facebook:hover{
    color: rgb(5, 133, 183);
    transform: scale(1.5);
}

.bi-github:hover{
    color: rgb(5, 133, 183);
    transform: scale(1.5);
}

#socials{
    margin-right: 2rem ;
    display: flex;
    gap:1.2rem;
}

#p1.1{
    margin-right:3rem;
}

#p1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 10rem 1rem 10rem;
    gap:3rem;
   

}

.bi-arrow-through-heart-fill{
    font-size:3rem;
    color: rgb(0, 0, 0);
}

.bi-arrow-through-heart-fill:hover{
    
    color:rgb(201, 199, 199)
}


#p1 img{
    align-self: center;
}

header{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(3, 76, 105);
}

